.back_img {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 15px;
    height: 507px;
    background-image: url(../img/mountains_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}